parking-slot-component {

}
ion-card.parkingSlot{
    width: 150px;
    height: 150px;
}
.parkingSlot-image{
    text-align: center;
    font-size: 4.5em;
    color : grey;
}
.parkingSlot-name{
    font-size: 1.25em;
}